.white-bg{
  background-color: white;
}

.black-border{
  border: 1px solid black;
}
html{
  font-family:monospace;
}
iframe{
  display: block;
  width: 100%;
  height: 100%;
}

div#preview, div#source{
  vertical-align: text-top;
  display: inline-block;
  resize: both;
  border: 1px solid black;
  padding: 15px;
}

div#preview{
  overflow: hidden;
  width: 40vw;
  max-width: 40vw;
  height:30vw;
  margin: 0px;
  text-align: right;
}

div#source{
  width: 50vw;
  background-color: lightgray;
}

div.wrapper{
  text-align: left;
  vertical-align: text-top;
}

pre#js-source{
  font-size : 10pt;
  font-family: Monaco, monospace;
  white-space: pre-wrap;
  background-color: lightgray;
}

#select {
  margin-bottom: 10px;
}

#select input[type=radio] {
  display:none;
}

#select label {
  border: outset 1px silver;
  padding: 2px 16px;
  margin-right: 10px;
  background: #fff;
  cursor: pointer;
  box-shadow: 1px 1px grey;
  font-weight: bold;
}

#select input:checked + label {
  border: inset 1px silver;
  background: lightgray;
  background-size: 16px 48px;
  box-shadow: none;
}

#select input:hover+ label {
  background: lightgray;
}


